<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DigiKonSphere</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <a href="/artisan">Artisan</a> |
        <a href="/marketplace">Marketplace</a> |
        <a href="/order-history">Order History</a> |
        <a href="/iot-showcase">IoT Showcase</a>
    </nav>
    <hr>
    <%- body %>
</body>
</html>
